.movieDetails-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1200px;
    height: 515px;
    padding: 0 60px 20px 60px;
}

.movieDetails-info {
    width: 698px;
}

.movieDetails-genres {
    margin: 14px 0;
    font-size: 14px;
}

.movieDetails-releaseYear,
.movieDetails-duration {
    color: #F65261;
}

.movieDetails-header {
    display: flex;
    height: 60px;
}

.movieDetails-name {
    font-size: 40px;
    margin: 0;
}

.movieDetails-rating {
    font-size: 20px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 30px;
    border: 1px solid #FFF;
}

.movieDetails-characteristics {
    display: flex;
    justify-content: flex-start;
}

.movieDetails-releaseYear {
    margin-right: 24px;
}
