.movieTile-container {
    margin: 8px 0px;
    width: 322px;
}

.movieTile-info {
    display: flex;
    justify-content: space-between;
}

.movieTile-name {
    font-size: 18px;
    opacity: 70%;
}

.movieTile-description {
    font-size: 14px;
    font-weight: 500;
    opacity: 50%;
}

.movieTile-releaseYear {
    border: 1px solid #FFF;
    font-size: 14px;
    width: 50px;
    height: 17px;
    border-radius: 12%;
    text-align: center;
}